/* General Rule */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue: hsl(234, 29%, 20%);
    --ligt-blue: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: rgb(255, 255, 255);
    --red: hsl(4, 100%, 67%);
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--ligt-blue);
    background-color: var(--white);
}

img{
    max-width:  100%;
}

/* Mobile View */
.intro-texts h1, .success-message h1{
    color: var(--blue);
    font-weight: 700;
    font-size: 45px;
}

.intro-texts p{
    padding: 20px 0;
    line-height: 1.5;
}

.col-1 img{
    width: 100%;
}

.col-2{
    display: flex;
    flex-direction: column;
    padding: 30px 25px 10px;
}

.max-width-22rem{
    max-width: 21rem;
}

.intro-list li{
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    padding: 8px 0;
    gap: 20px;
}

.intro-list li p{
    line-height: 1.5;
    margin: -3px;
}

.newsletter-form{
    padding: 30px 0;
}

.newsletter-form form input, .dismiss-button{
    padding: 22px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--grey);
    width: 100%;
}

.newsletter-form form input[type="submit"], .dismiss-button{
    background-color: var(--blue);
    color: var(--white);
    margin-top: 30px;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
}

.newsletter-form form input[type="submit"]:hover, .dismiss-button:hover{
    background-color: var(--red);
   
}

input::placeholder{
    color: var(--grey);
    font-size: 16px;
}

.newsletter-form form label{
    color: var(--blue);
    padding-bottom: 10px;
    font-weight: 700;
}

.label-error-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
  }

  /* Error Message */
  
  .errorMessage {
    color: var(--red);
    font-size: 16px;
    min-width: 150px;
    padding-bottom: 10px;
  }

  /* Mobile Success message */

  .success-message{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 150px 24px 30px;
    z-index: 1000;
    background-color: var(--white);
    transition: all 0.3s ease;
  }

  .success-message img {
    width: 80px;
    margin-bottom: 2rem;
}

.success-message a{
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}

.success-message p{
    line-height: 1.5;
    padding: 20px 0;
    max-width: 22rem;
}

.dismiss-button{
    margin-top: auto;
    margin-bottom: 0px;
    border: none;
    padding: 22px;
}

.hidden{
    display: none;
}

/* Desktop View */
@media (min-width: 1024px) {
    body{
        background-color: var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        font-size: 16px;
    }

    .container{
        background-color: var(--white);
        padding: 25px 25px 25px 35px;
        border-radius: 40px;
        max-width: 55rem; 
    }

    .row{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 30px;
    }

    .col{
        flex: 1;
    }

    .col-2{
       display: flex;
       justify-content: center;
       align-items: flex-start;
    }

    .max-width-22rem{
        max-width: 25rem;
    }

    /* Desktop Success Message */
    .success-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 530px;
        height: 530px;
        padding: 50px 80px 80px;
        border-radius: 50px;
        overflow: visible;
    }

    .success-message p{
        max-width: 100%;
    }

    .dismiss-button{
        margin-top: 30px;
    }
}