*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue: hsl(234, 29%, 20%);
    --ligt-blue: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
    --Red: hsl(4, 100%, 67%);
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--ligt-blue);
    background-color: var(--white);
}

img{
    max-width:  100%;
}

.intro-texts h1{
    color: var(--blue);
    font-weight: 700;
}

.intro-texts p{
    padding: 20px 0;
}

.col-1 img{
    width: 100%;
}

.col-2{
    display: flex;
    flex-direction: column;
    padding: 30px 25px 10px;
}

.max-width-22rem{
    max-width: 22rem;

}

.intro-list li{
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    padding: 8px 0;
    gap: 20px;
}

.intro-list li p{
    line-height: 1.5;
    margin: -3px;
}

.newsletter-form{
    padding: 30px 0;
}

.newsletter-form form{
    display: flex;
    flex-direction: column;
}

.newsletter-form form input{
    padding: 23px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--grey);
}

.newsletter-form form input[type="submit"]{
    background-color: var(--blue);
    color: var(--white);
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
}

input::placeholder{
    color: var(--grey);
    font-size: 16px;
}

.newsletter-form form label{
    color: var(--blue);
    padding-bottom: 10px;
}
